body{
    margin: 0;
}
.one{
    height: 40vh;
    width: 20vw;
}
.two{
    text-align: center;
    height: 40vh;
    width: 20vw;
    margin-left: 20%;
}
.four{
    height: 40vh;
    width: 20vw;
    margin-left: 100%;
}
